.filter {
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1px;
  font-family: 'Titillium Web', sans-serif;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31ad6e;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
  
  cursor: pointer;
}

.filterName {
  font-weight: bold;
}

.arrowRight {
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.arrowDown {
  margin-left: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.filterOptions {
  background-color: #8be3ae;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: auto;
}

.filterOptions input[type='text'] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-image: url('../public/search.png');
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 20px;
}

@media screen and (max-width: 768px) {
  .filterOptions input[type='text'] {
    padding: 5px;
    background-size: 15px;
  }
}

.filterOption {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filterOption input[type='checkbox'] {
  margin-right: 5px;
}

.filterOptionName {
  color: #000;
  font-weight: bold;
  flex-grow: 1;
}

.filterOptionCount {
  color: #000;
}

.filterOptionHide {
  display: none;
}

.infoButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #eeeeee;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.filterName {
  flex: 1; /* Le filterName prendra tout l'espace disponible, mais permettra aux autres éléments de garder leur espace */
}

/* Ajoutez une classe pour le conteneur de l'infobulle et de la flèche si nécessaire */
.infoAndArrowContainer {
  flex-shrink: 0; /* Empêche le conteneur de se réduire */
}

